# Similarity comparison

In [1]:
import os,sys, tempfile, pandas as pd
sys.path.append("src")

In [2]:
working_dir =  "tempv2"
os.makedirs(working_dir, exist_ok=True)

In [3]:
def scores_to_df(scores, details, data_set, data_type, task_type):
    df = pd.DataFrame()
    for k , v in scores.items():
        df[k] = v
        
    for k , v in details.items():
        df[k + "_detail"] = v
    
    df["data_set"] = data_set + " " + data_type
    df["task_type"] = task_type
         
    return df

### 1. BC2GM

[Biocreative II gene mention](https://biocreative.bioinformatics.udel.edu/tasks/biocreative-ii/) overlap. Please download the test and train files for this task from the BioCreative Website.

In [4]:
bc2gm_train_file = os.path.join("tmp", "train.in")
bc2gm_test_file = os.path.join("tmp", "test.in")

bc2gm_train_eval_file = os.path.join("tmp", "trainGENE.eval")
bc2gm_test_eval_file = os.path.join("tmp", "testGENE.eval")

In [5]:
from bc2_gene_mention import BC2GeneMentionText 


bc2gmrun = BC2GeneMentionText()
result_score, result_detail = bc2gmrun.run_similarity_comparer("text", bc2gm_train_file,  bc2gm_test_file)
df_bc2_gm_text = scores_to_df(result_score,result_detail, "BC2GM", "text", "NER")

result_score, result_detail = bc2gmrun.run_similarity_comparer("eval", bc2gm_train_eval_file,  bc2gm_test_eval_file)
df_bc2_gm_eval = scores_to_df(result_score,result_detail, "BC2GM", "anno", "NER")

df_bc2_gm = pd.concat([df_bc2_gm_text, df_bc2_gm_eval])

Exact matches Unigram, 39 / 5000
Exact matches Bigram, 26 / 5000
Exact matches Trigram, 26 / 5000
Exact matches Unigram, 1996 / 6331
Exact matches Bigram, 541 / 6331
Exact matches Trigram, 134 / 6331

In [6]:
df_bc2_gm.sample(n=2)

,Unigram,Bigram,Trigram,Unigram_detail,Bigram_detail,Trigram_detail,data_set,task_type
6138,70.710678,0.000000,0.000000,"(prolactin gene, prolactin)","(prolactin gene, alkaline phosphatases)","(prolactin gene, alkaline phosphatases)",BC2GM anno,NER
2844,48.038446,21.081851,11.785113,(Total body water and distribution space of Na...,(Total body water and distribution space of Na...,(Total body water and distribution space of Na...,BC2GM text,NER

In [7]:
df_bc2_gm.groupby(["data_set"]).describe().stack()

                      Unigram       Bigram      Trigram
data_set
BC2GM anno count  6331.000000  6331.000000  6331.000000
           mean     70.766285    19.552406     5.411720
           std      35.975868    35.854864    20.895407
           min       0.000000     0.000000     0.000000
           25%      57.735027     0.000000     0.000000
           50%      81.649658     0.000000     0.000000
           75%     100.000000    25.819889     0.000000
           max     100.000000   100.000000   100.000000
BC2GM text count  5000.000000  5000.000000  5000.000000
           mean     33.191640    13.122176     4.200074
           std      11.568668    10.636721     9.330504
           min       0.000000     0.000000     0.000000
           25%      26.311741     8.058230     0.000000
           50%      31.622777    12.171612     0.000000
           75%      38.336508    17.320508     7.161149
           max     100.000000   100.000000   100.000000

In [8]:
df_bc2_gm_text.sort_values(by=["Unigram"], ascending=False).head(n=1)["Unigram_detail"].iloc[0]

('Mutational analysis of yeast CEG1 demonstrated that four of the five conserved motifs are essential for capping enzyme function in vivo.',
 'Mutational analysis of yeast CEG1 demonstrated that four of the five conserved motifs are essential for capping enzyme function in vivo.')

In [9]:
df_bc2_gm_text.sort_values(by=["Trigram"], ascending=False).head(n=1)["Trigram_detail"].iloc[0]

('A heterologous promoter construct containing three repeats of a consensus Sp1 site, cloned upstream of a single copy of the ZII (CREB/ AP1) element from the BZLF1 promoter linked to the beta-globin TATA box, exhibited phorbol ester inducibility.',
 'A heterologous promoter construct containing three repeats of a consensus Sp1 site, cloned upstream of a single copy of the ZII (CREB/ AP1) element from the BZLF1 promoter linked to the beta-globin TATA box, exhibited phorbol ester inducibility.')

## 2. AIMED (Random)

In [10]:
aimed_file = os.path.join("tmp", "AIMedFull_preprocessed.json")

In [11]:
from aimed_random import AIMedRandom

result_score, result_detail = AIMedRandom().run_similarity_comparer(aimed_file)
df_aimed_random = scores_to_df(result_score,result_detail, "AIMED (R)", "", "REL")

In [12]:
df_aimed_random.groupby(["data_set"]).describe().stack()

                     Unigram      Bigram     Trigram
data_set
AIMED (R)  count  584.000000  584.000000  584.000000
           mean    96.947936   82.294414   73.146194
           std     11.921198   18.519621   21.285885
           min     27.498597    8.247861    0.000000
           25%    100.000000   77.777778   66.666667
           50%    100.000000   86.666667   77.777778
           75%    100.000000   93.801712   87.053315
           max    100.000000  100.000000  100.000000

In [13]:
df_aimed_random.sort_values(by=["Unigram"], ascending=False).head(n=1)["Unigram_detail"].iloc[0]

('Using the yeast two-hybrid system, a genetic assay for studying protein-protein interactions, we have examined and compared the interaction of the PROTEIN1 receptor ( PROTEIN2 ) and the PROTEIN ( PROTEIN ) with their two known substrates PROTEIN and the PROTEIN substrate-1 ( PROTEIN ).',
 'Using the yeast two-hybrid system, a genetic assay for studying protein-protein interactions, we have examined and compared the interaction of the PROTEIN1 receptor ( PROTEIN ) and the PROTEIN2 ( PROTEIN ) with their two known substrates PROTEIN and the PROTEIN substrate-1 ( PROTEIN ).')

In [14]:
df_aimed_random.sort_values(by=["Unigram"], ascending=True).head(n=1)["Unigram_detail"].iloc[0]

('While the circulating PROTEIN1 of renal origin is acutely activated to contribute to the accomplishment of short term homeostatic reactions, tissue PROTEIN2 , in paracrine or autocrine ways, exerts local-regional adaptive actions of long duration.',
 'In the end we refer to the relations between circulating PROTEIN of renal origin and the extrarenal PROTEIN1 specific to tissue underlying the fact that the two PROTEIN2 components cooperate and constitute a unitary hormonal system, regulating the major functions of the organism and maintaining the main homeostatic equilibria.')

## 3. AIMED (Unqiue Document)

In [15]:
from aimed_uniquedoc import AIMedUniqueDoc

result_score, result_detail = AIMedUniqueDoc().run_similarity_comparer(aimed_file)
df_aimed_unique = scores_to_df(result_score,result_detail, "AIMED (U)", "", "REL")

In [16]:
df_aimed_unique.groupby(["data_set"]).describe().stack()

                     Unigram      Bigram     Trigram
data_set
AIMED (U)  count  498.000000  498.000000  498.000000
           mean    67.137026   36.067096   20.770509
           std     15.317615   19.457675   18.481003
           min     28.426762    0.000000    0.000000
           25%     53.935989   21.629523    8.679295
           50%     68.640647   31.622777   14.629372
           75%     78.920519   44.721360   26.726124
           max     87.017654   80.489529   71.632286

In [17]:
df_aimed_unique.sort_values(by=["Unigram"], ascending=False).head(n=1)["Unigram_detail"].iloc[0]

('Using antibody-mediated immunofluorescence copatching of epitope-tagged receptors, we provide evidence in live cells for preexisting heteromeric ( PROTEIN / PROTEIN and PROTEIN / PROTEIN1 ) and homomeric ( PROTEIN / PROTEIN , PROTEIN / PROTEIN , PROTEIN / PROTEIN , and also PROTEIN2 / PROTEIN ) oligomers in the absence of ligand.',
 ' PROTEIN1 is a potent, tight-binding inhibitor of Cdks and can inhibit the phosphorylation of PROTEIN by PROTEIN - PROTEIN , PROTEIN - PROTEIN , PROTEIN2 - PROTEIN , and PROTEIN - PROTEIN complexes.')

In [18]:
df_aimed_unique.sort_values(by=["Unigram"], ascending=True).head(n=1)["Unigram_detail"].iloc[0]

('In contrast, in normal nasal tissues, PROTEIN1 labeling was only found in the vascular wall, and the expression was weaker--a finding demonstrating that PROTEIN2 is upregulated in nasal polyps.',
 'We found PROTEIN1 mRNA in several peripheral tissues, and detected PROTEIN2 protein on cultured vascular endothelial cells.')

## 4. SST2 Dataset

In [19]:

sst2_train_file = os.path.join("tmp", "train.tsv")
sst2_test_file = os.path.join("tmp", "test.tsv")
sst2_sentiment_labels_file  =  os.path.join("tmp", "sentiment_labels.txt")
sst2_dictionary_file  =  os.path.join("tmp", "dictionary.txt")

In [20]:
from sst2_dataset import SST2Dataset
result_score, result_detail =  SST2Dataset().run_similarity_comparer(sst2_train_file,sst2_test_file)
df_sst2 = scores_to_df(result_score,result_detail, "SST2", "", "CLS")

In [21]:
df_sst2.groupby(["data_set"]).describe().stack()

                    Unigram       Bigram      Trigram
data_set
SST2     count  1821.000000  1821.000000  1821.000000
         mean     46.055815    17.378379     1.388049
         std      14.067934    18.009431     6.733712
         min       0.000000     0.000000     0.000000
         25%      36.514837     0.000000     0.000000
         50%      43.643578    16.666667     0.000000
         75%      53.452248    30.151134     0.000000
         max     100.000000   100.000000    70.710678

In [22]:
print(*df_sst2.sort_values(by=["Unigram"], ascending=False).head(n=10)["Unigram_detail"].iloc[5], sep='\n\n')

still , i thought it could have been more .

well-thought

In [23]:
print(*df_sst2.sort_values(by=["Unigram"], ascending=True).head(n=10)["Unigram_detail"].iloc[5], sep='\n\n')

made by jackasses for jackasses .

hide new secretions from the parental units

## 5. BC3 Article classification

In [24]:
bc3_act_train_file = os.path.join("tmp", "bc3_act_all_records.tsv")
bc3_act_test_file = os.path.join("tmp", "bc3_act_all_records_test.tsv")

In [25]:
from bc3_article_classification import BC3ArticleClassification

result_score, result_detail = BC3ArticleClassification().run_similarity_comparer(bc3_act_train_file,  bc3_act_test_file)
df_bc3_act = scores_to_df(result_score,result_detail, "BC3ACT", "", "CLS")

In [26]:
df_bc3_act.describe()

           Unigram       Bigram      Trigram
count  6000.000000  6000.000000  6000.000000
mean     26.760271     6.907863     1.807134
std       9.325118     5.474373     1.728708
min       6.277610     0.000000     0.000000
25%      20.094071     3.474651     0.835709
50%      25.677218     5.298225     1.476668
75%      31.914209     8.530364     2.352489
max      75.011317    51.197969    18.973666

In [27]:
print(*df_bc3_act.sort_values(by=["Trigram"], ascending=False).head(n=1)["Trigram_detail"]
      .iloc[0], sep='\n\n')

Wnt/beta-catenin and NF-kappaB signaling mechanisms provide central controls in development and disease, but how these pathways intersect is unclear. Using hair follicle induction as a model system, we show that patterning of dermal Wnt/beta-catenin signaling requires epithelial beta-catenin activity. We find that Wnt/beta-catenin signaling is absolutely required for NF-kappaB activation, and that Edar is a direct Wnt target gene. Wnt/beta-catenin signaling is initially activated independently of EDA/EDAR/NF-kappaB activity in primary hair follicle primordia. However, Eda/Edar/NF-kappaB signaling is required to refine the pattern of Wnt/beta-catenin activity, and to maintain this activity at later stages of placode development. We show that maintenance of localized expression of Wnt10b and Wnt10a requires NF-kappaB signaling, providing a molecular explanation for the latter observation, and identify Wnt10b as a direct NF-kappaB target. These data reveal a complex interplay and interdependence of Wnt/beta-catenin and EDA/EDAR/NF-kappaB signaling pathways in initiation and maintenance of primary hair follicle placodes.

Germline mutations in the adenomatous polyposis coli (APC) gene are responsible for familial adenomatous polyposis (FAP), an autosomal dominant hereditary predisposition to the development of multiple colorectal adenomas and of a broad spectrum of extra-intestinal tumors. Moreover, somatic APC mutations play a rate-limiting and initiating role in the majority of sporadic colorectal cancers. Notwithstanding its multifunctional nature, the main tumor suppressing activity of the APC gene resides in its ability to regulate Wnt/beta-catenin signaling. Notably, genotype-phenotype correlations have been established at the APC gene between the length and stability of the truncated proteins encoded by different mutant alleles, the corresponding levels of Wnt/beta-catenin signaling activity they encode for, and the incidence and distribution of intestinal and extra-intestinal tumors. Here, we report a novel mouse model, Apc1572T, obtained by targeting a truncated mutation at codon 1572 in the endogenous Apc gene. This hypomorphic mutant allele results in intermediate levels of Wnt/beta-catenin signaling activation when compared with other Apc mutations associated with multifocal intestinal tumors. Notwithstanding the constitutive nature of the mutation, Apc(+/1572T) mice have no predisposition to intestinal cancer but develop multifocal mammary adenocarcinomas and subsequent pulmonary metastases in both genders. The histology of the Apc1572T primary mammary tumours is highly heterogeneous with luminal, myoepithelial, and squamous lineages and is reminiscent of metaplastic carcinoma of the breast in humans. The striking phenotype of Apc(+/1572T) mice suggests that specific dosages of Wnt/beta-catenin signaling activity differentially affect tissue homeostasis and initiate tumorigenesis in an organ-specific fashion.

In [28]:
print(*df_bc3_act.sort_values(by=["Unigram"], ascending=True).head(n=10)["Unigram_detail"].iloc[5], sep='\n\n')

BACKGROUND AND AIMS: Celiac sprue is a life-long disease characterized by an intestinal inflammatory response to dietary gluten. A gluten-free diet is an effective treatment for most patients, but accidental ingestion of gluten is common, leading to incomplete recovery or relapse. Food-grade proteases capable of detoxifying moderate quantities of dietary gluten could mitigate this problem. METHODS: We evaluated the gluten detoxification properties of two food-grade enzymes, aspergillopepsin (ASP) from Aspergillus niger and dipeptidyl peptidase IV (DPPIV) from Aspergillus oryzae. The ability of each enzyme to hydrolyze gluten was tested against synthetic gluten peptides, a recombinant gluten protein, and simulated gastric digests of whole gluten and whole-wheat bread. Reaction products were analyzed by mass spectrometry, HPLC, ELISA with a monoclonal antibody that recognizes an immunodominant gluten epitope, and a T cell proliferation assay. RESULTS: ASP markedly enhanced gluten digestion relative to pepsin, and cleaved recombinant alpha2-gliadin at multiple sites in a non-specific manner. When used alone, neither ASP nor DPPIV efficiently cleaved synthetic immunotoxic gluten peptides. This lack of specificity for gluten was especially evident in the presence of casein, a competing dietary protein. However, supplementation of ASP with DPPIV enabled detoxification of moderate amounts of gluten in the presence of excess casein and in whole-wheat bread. ASP was also effective at enhancing the gluten-detoxifying efficacy of cysteine endoprotease EP-B2 under simulated gastric conditions. CONCLUSIONS: Clinical studies are warranted to evaluate whether a fixed dose ratio combination of ASP and DPPIV can provide near-term relief for celiac patients suffering from inadvertent gluten exposure. Due to its markedly greater hydrolytic activity against gluten than endogenous pepsin, food-grade ASP may also augment the activity of therapeutically relevant doses of glutenases such as EP-B2 and certain prolyl endopeptidases.

AIM: To determine the prevalence of a new set of anti-glycan and anti-outer membrane protein (anti-OMP) antibodies in a Hungarian cohort of adult Celiac disease (CD) patients. METHODS: 190 consecutive CD patients [M/F: 71/119, age:39.9 (SD:14.1) years], 100 healthy, and 48 gastrointestinal controls were tested for glycan anti-Saccharomyces cerevisiae (gASCA), anti-laminaribioside (ALCA), anti-chitobioside, anti-mannobioside, anti-OMP antibodies and major NOD2/CARD15 mutations. Thirty out of 82 CD patients enrolled at the time of diagnosis were re-evaluated for the same antibodies after longstanding gluten-free diet (GFD). RESULTS: 65.9% of the CD patients were positive for at least one of the tested antibodies at the time of the diagnosis. Except anti-OMP and ALCA, anti-microbial antibodies were exclusively seen in untreated CD; however, the overall sensitivity was low. Any glycan positivity (LR+: 3.13; 95% CI: 2.08-4.73) was associated with an increased likelihood ratio for diagnosing CD. Significant correlation was found between the levels of anti-glycan and anti-endomysial or anti-transglutaminase antibodies. Anti-glycan positivity was lost after longstanding GFD. Anti-glycan antibody titers were associated with symptoms at presentation, but not the presence of NOD2/CARD15 mutations. Patients with severe malabsorption more frequently had multiple antibodies at diagnosis (P = 0.019). CONCLUSION: The presence of anti-glycan antibodies in CD seems to be secondary to the impaired small bowel mucosa which can lead to increased antigen presentation. Furthermore, anti-glycan positivity may be considered an additional marker of CD and dietary adherence.

## Chemu

In [29]:
chemu_train_dir = os.path.join("tmp", "chemu", "train")
chemu_test_dir = os.path.join("tmp", "chemu", "test")

In [30]:
from chemu_gene_mention import ChemuGeneMention

In [31]:

chemurun = ChemuGeneMention()
result_score, result_detail = chemurun.run_similarity_comparer( chemu_train_dir,  chemu_test_dir, "text")
df_chemu_text = scores_to_df(result_score,result_detail, "Chemu", "text", "NER")

result_score, result_detail = chemurun.run_similarity_comparer( chemu_train_dir,  chemu_test_dir, "entity")
df_chemu_eval = scores_to_df(result_score,result_detail, "Chemu", "anno", "NER")

df_chemu = pd.concat([df_chemu_text, df_chemu_eval])

In [32]:
df_chemu.head()

,Unigram,Bigram,Trigram,Unigram_detail,Bigram_detail,Trigram_detail,data_set,task_type
0,88.160570,73.775566,66.167284,(Example 55\nTo a suspension of 6-(2-amino-5-c...,(Example 55\nTo a suspension of 6-(2-amino-5-c...,(Example 55\nTo a suspension of 6-(2-amino-5-c...,Chemu text,NER
1,59.438230,33.936262,19.367281,"(Step 9: tert-butyl (2R,3S)-2-(2,5-difluorophe...","(Step 9: tert-butyl (2R,3S)-2-(2,5-difluorophe...","(Step 9: tert-butyl (2R,3S)-2-(2,5-difluorophe...",Chemu text,NER
2,79.425707,52.160029,46.756433,"(Example 9\n5-((6S,8R)-7-((1-fluorocyclopropyl...","(Example 9\n5-((6S,8R)-7-((1-fluorocyclopropyl...","(Example 9\n5-((6S,8R)-7-((1-fluorocyclopropyl...",Chemu text,NER
3,50.937163,13.844644,7.317617,"(3,5-Dichloro-4-(5-fluoro-2-methyl-4-oxo-1,7-n...","(3,5-Dichloro-4-(5-fluoro-2-methyl-4-oxo-1,7-n...","(3,5-Dichloro-4-(5-fluoro-2-methyl-4-oxo-1,7-n...",Chemu text,NER
4,57.138872,18.352924,5.902813,(Example 73\nPreparation of 2-chloro-3-fluoro-...,(Example 73\nPreparation of 2-chloro-3-fluoro-...,(Example 73\nPreparation of 2-chloro-3-fluoro-...,Chemu text,NER

In [33]:
print(*df_chemu_text.sort_values(by=["Unigram"], ascending=True).head(n=10)["Unigram_detail"].iloc[5], sep='\n\n')

To a solution of 5-Bromo-4-methoxy-pyridin-2-ylamine (53 g, 0.261 mol, 1.0 eq.) in EtOH:H2O=4:1 (500 mL) is added chloro-acetaldehyde (24.589 g, 0.313 mol, 1.2 eq.), then NaHCO3 (26.3 g, 0.313 mol, 1.2 eq.) is added. The resultant mixture is heated to 90° C. for 4 h. After cooling to r.t., the organic solvent is evaporated. The residue is extracted with DCM (200 mL×3). The organic layer are combined, dried over Na2SO4, filtered and concentrated. The crude product is purified by silica gel chromatography (DCM:MeOH=50:1) to afford compound 6-Bromo-7-methoxy-imidazo[1,2-a]pyridine (39 g, 66%) as a brown solid.

Step 1. N-(5-bromo-2-fluoropyridin-3-yl)ethanesulfonamide
To a solution of 5-bromo-2-fluoropyridin-3-amine (3 g, 20 mmol) in pyridine (10 mL) and DCM (20 mL) at room temperature was added ethanesulfonyl chloride (2.2 mL, 24 mmol). After stirring for 30 min, the solvent was evaporated. The resulting residue was diluted with MeOH (4 mL) and partitioned between EtOAc and brine. The organic layer was separated, and the aq. layer was extracted with EtOAc. The combined organic layers were dried over Na2SO4, filtered, and concentrated. Purification via silica gel chromatography afforded the title compound (2 g, 40%). LCMS for C7H9BrFN2O2S (M+H)+: calculated m/z=283.0, 285.0; found 283.0, 284.9.

In [34]:
print(*df_chemu_text.sort_values(by=["Unigram"], ascending=False).head(n=10)["Unigram_detail"].iloc[5], sep='\n\n')

EXAMPLE 6
5-(3-methoxyphenyl)-3-methyl-1-{2-oxo-2-[4-(2-oxo-1,4-dihydro-2H-quinazolin-3-yl)-piperidin-1-yl]-ethyl}-1H-pyrimidine-2,4-dione (reaction scheme 1, compound 6)
Similarly to example 1.8, starting from 71 mg (0.5 mmol) of 3-methoxyphenylboronic acid and 150 mg (0.3 mmol) of 5-bromo-3-methyl-1-{2-oxo-2-[4-(2-oxo-1,4-dihydro-2H-quinazolin-3-yl)-piperidin-1-yl]-ethyl}-1H-pyrimidine-2,4-dione (prepared as described in example 2.5), 120 mg (77%) of 5-(3-methoxyphenyl)-3-methyl-1-{2-oxo-2-[4-(2-oxo-1,4-dihydro-2H-quinazolin-3-yl)-piperidin-1-yl]-ethyl}-1H-pyrimidine-2,4-dione is obtained in the form of a white solid with a melting point of 251° C.

EXAMPLE 4
5-(3-fluorophenyl)-3-methyl-1-{2-oxo-2-[4-(2-oxo-1,4-dihydro-2H-quinazolin-3-yl)-piperidin-1-yl]-ethyl}-1H-pyrimidine-2,4-dione (reaction scheme 1, compound 4)
Similarly to example 1.8, starting from 66 mg (0.5 mmol) of 3-fluorophenylboronic acid and 150 mg (0.3 mmol) of 5-bromo-3-methyl-1-{2-oxo-2-[4-(2-oxo-1,4-dihydro-2H-quinazolin-3-yl)-piperidin-1-yl]-ethyl}-1H-pyrimidine-2,4-dione (prepared as described in example 2.5), 30 mg (20%) of 5-(3-fluorophenyl)-3-methyl-1-{2-oxo-2-[4-(2-oxo-1,4-dihydro-2H-quinazolin-3-yl)-piperidin-1-yl]-ethyl}-1H-pyrimidine-2,4-dione is obtained in the form of a white solid with a melting point of 240° C.

## Summary

In [35]:
df_summary = pd.concat([df_sst2, df_aimed_unique,df_aimed_random, df_bc2_gm, df_bc3_act,df_chemu ])

In [36]:
df_summary.groupby(["data_set"]).describe().stack()

                     Unigram      Bigram     Trigram
data_set
AIMED (R)  count  584.000000  584.000000  584.000000
           mean    96.947936   82.294414   73.146194
           std     11.921198   18.519621   21.285885
           min     27.498597    8.247861    0.000000
           25%    100.000000   77.777778   66.666667
...                      ...         ...         ...
SST2       min      0.000000    0.000000    0.000000
           25%     36.514837    0.000000    0.000000
           50%     43.643578   16.666667    0.000000
           75%     53.452248   30.151134    0.000000
           max    100.000000  100.000000   70.710678

[64 rows x 3 columns]

In [37]:
df_summary.groupby(["task_type","data_set"]).mean()

                        Unigram     Bigram    Trigram
task_type data_set
CLS       BC3ACT      26.760271   6.907863   1.807134
          SST2        46.055815  17.378379   1.388049
NER       BC2GM anno  70.766285  19.552406   5.411720
          BC2GM text  33.191640  13.122176   4.200074
          Chemu anno  84.286901  30.670974   6.832106
          Chemu text  68.446277  42.391903  31.631991
REL       AIMED (R)   96.947936  82.294414  73.146194
          AIMED (U)   67.137026  36.067096  20.770509

In [38]:
print(df_summary.groupby([ "data_set","task_type"]).mean().
      to_latex(float_format=lambda x: "{:.2f}".format(x)))

\begin{tabular}{llrrr}
\toprule
      &     &  Unigram &  Bigram &  Trigram \\
data\_set & task\_type &          &         &          \\
\midrule
AIMED (R)  & REL &    96.95 &   82.29 &    73.15 \\
AIMED (U)  & REL &    67.14 &   36.07 &    20.77 \\
BC2GM anno & NER &    70.77 &   19.55 &     5.41 \\
BC2GM text & NER &    33.19 &   13.12 &     4.20 \\
BC3ACT  & CLS &    26.76 &    6.91 &     1.81 \\
Chemu anno & NER &    84.29 &   30.67 &     6.83 \\
Chemu text & NER &    68.45 &   42.39 &    31.63 \\
SST2  & CLS &    46.06 &   17.38 &     1.39 \\
\bottomrule
\end{tabular}